[Unit]
Description=Run python script to check which process owns org.kde.StatusNotfierWatcher after waking up from sleep.

[Service]
Type=oneshot
# Edit the following line to point to the right path of the python file.
ExecStart=python3 %h/Documents/check_waybar_tray/check_waybar_tray.py